header.header.hero.is-large#header
    .hero-head
        nav.navbar
            .container
                .navbar-brand
                    a.navbar-item
                        img(src='./assets/img/bikezilla.png', alt='logo')
                    span.navbar-burger.burger
                        span
                        span
                        span
                .navbar-menu
                    .navbar-end
                        a.navbar-item.link(href='')
                            | Home
                        a.navbar-item.link(href='')
                            | Test
                        a.navbar-item.link(href='')
                            | Test 1
                        a.navbar-item.link.sign-up-modal(href='')
                            | Sign Up
    .container.has-text-centered.header-container#header-container
        h2.header__title
            | Welcome to Bikezilla
        a.button.is-warning.is-rounded.is-large.header-btn Get service