extends ../popup/popup
block content
    .sign-up.active
        span.sign__title
            | Sign up
        form.sign__form.form(action='', method='GET')
            .form__item.field
                label.field__name(for='sign__name') Name
                input#sign__name.field__input.field__input-name(type='text')
            .form__item.field
                label.field__email(for='sign-in__email') Email
                input#sign-in__email.field__input.field__input-email(type='email')
            .form__item.field
                label.field__name(for='sign-in__password') Password
                input#sign-in__password.field__input.field__input-pswd(type='password')
            .form__item.field
                label.field__name(for='sign__reenter') Re-enter password
                input#sign__reenter.field__input.field__input-repeated-pswd(type='password')
            input.form__button(type='submit', value='Sign up')
            span.toggler
                | Already registered?
                a.toggler__button-sign-in(href='#')  Sign in
                |  right now!