.header {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.link {
    color: #ffffff;
}

.home-title {
    font-size: 4rem;
}

.big-button {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
    text-transform: uppercase;
}

/*.section {
    padding: 0;
}*/

.custom-footer {
    padding: 1rem;
    width: 100vw;
    color: #b7b7b7;
    background-color: #4a4a4a;
}

.social-item {
    padding: 0.5rem;
}
