body {
    margin: 0;
    min-height: 100%;
}

.header {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.custom-footer {
    padding: 2.5rem;
    width: 100vw;
    flex: 0 0 auto;
    color: #b7b7b7;
    background-color: #4a4a4a;
}

.social-item {
    padding: 0.5rem;
}
