section.cycle-service
    .container
        .columns
            article.column
                h2.title.has-text-warning.cycle-heading#cycle-heading Our awesome and quality service for you
                p.content.is-large.cycle-text
                    | We are happy to invite you to multiple grounds where our consultants will help you
                    | to find a propriate bicycle for you and your mates. Every tour will be memorable
                    | for you and mates. Make your way to the happy moments without thinking about hard path to them!
            .column.cyclist
                img.bicylce(src='./assets/img/cycling.png', alt='Cyclist')