section.section.has-text-centered.bikes-type
    .container
        h2.title Type of bicycles
        .columns
            .column
                .bike-title
                    | Road bike
                img.image(src='./assets/img/bikes/first.png', alt='road bike')
            .column
                .bike-title
                    | BMX/Trick Bike
                img.image(src='./assets/img/bikes/second.png', alt='trick bike')
    .arrows.is-hidden-mobile
        .left-arrow
            i.fas.fa-chevron-left.fa-3x
        .right-arrow
            i.fas.fa-chevron-right.fa-3x