doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Bikezilla
    body
        .wrapper
            include ./components/layouts/signUp/signUp
            include ./components/layouts/signIn/signIn
            include ./components/layouts/header/header
            include ./components/layouts/spinner/spinner
            include ./components/layouts/section1/section1
            include ./components/layouts/section2/section2
            include ./components/layouts/slider/slider
            section.section.has-text-centered.bikes-type
                .container
                    h2.title Type of bicycles
                    .columns
                        .column
                            .bike-title
                                | Road bike
                            picture.image
                                source(media="(max-width: 799px)" srcset="./assets/img/bikes/second.png")
                                source(media="(min-width: 800px)" srcset="./assets/img/bikes/first.png")
                                img(src="./assets/img/bikes/first.png" alt="Road bike")
                        .column
                            .bike-title
                                | BMX/Trick Bike
                            picture.image
                                source(media="(max-width: 799px)" srcset="./assets/img/bikes/first.png")
                                source(media="(min-width: 800px)" srcset="./assets/img/bikes/second.png")
                                img(src="./assets/img/bikes/second.png" alt="Road bike")
                .arrows.is-hidden-mobile
                    .left-arrow
                        i.fas.fa-chevron-left.fa-3x
                    .right-arrow
                        i.fas.fa-chevron-right.fa-3x
            section.cycle-service
                .cycle-col
                    picture.image
                        source(media="(max-width: 799px)" srcset="./assets/img/bikes/first.png")
                        source(media="(min-width: 800px)" srcset="./assets/img/competition/logo.png")
                        img(src="./assets/img/competition/logo.png" alt="Tour de france")
                .cycle-col
                    h3.cycle-col__title Tour de france
                    p.cycle-col__text
                        | The Tour de France is an annual men's multiple stage bicycle race
                        | primarily held in France, while also occasionally passing through
                        | nearby countries. Like the other Grand Tours (the Giro d'Italia and
                        | the Vuelta a Espana), it consists of 21 day-long stages over the course of 23 days.
                    p.cycle-col__text
                        | The race was first organized in 1903 to increase sales for the newspaper L'Auto
                        | and is currently run by the Amaury Sport Organisation. The race has been held
                        | annually since its first edition in 1903 except when it was stopped for the two
                        | World Wars.
                    p.cycle-col__text
                        | There are usually between 20 and 22 teams, with eight riders in each.
                        | All of the stages are timed to the finish; the riders' times are compounded
                        | with their previous stage times. The rider with the lowest cumulative
                        | finishing times is the leader of the race and wears the yellow jersey.
                    a.btn(href='#')
                        button.btn__item Read more
            footer.custom-footer
                .footer-text
                    | 2019, Parashute jumping. All Rights Reserved
                .footer-icons
                    picture.social-item
                        source(media="(max-width: 799px)" srcset="./assets/img/social/facebook.png")
                        source(media="(min-width: 800px)" srcset="./assets/img/social/twitter.png")
                        img(src="./assets/img/social/twitter.png" alt="Twitter")
                    picture.social-item
                        source(media="(max-width: 799px)" srcset="./assets/img/social/twitter.png")
                        source(media="(min-width: 800px)" srcset="./assets/img/social/facebook.png")
                        img(src="./assets/img/social/facebook.png" alt="Facebook")
                    picture.social-item
                        source(media="(max-width: 799px)" srcset="./assets/img/social/facebook.png")
                        source(media="(min-width: 800px)" srcset="./assets/img/social/google-plus-logo.png")
                        img(src="./assets/img/social/google-plus-logo.png" alt="GooglePlus")
                    picture.social-item
                        source(media="(max-width: 799px)" srcset="./assets/img/social/facebook.png")
                        source(media="(min-width: 800px)" srcset="./assets/img/social/instagram.png")
                        img(src="./assets/img/social/instagram.png" alt="Instagram")
