doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title ShutePal
    body
        .wrapper
            header.header.hero.is-large
                .hero-head
                    nav.navbar
                        .container
                            .navbar-brand
                                a.navbar-item
                                    img(src='./assets/img/logo.png', alt='logo')
                                span.navbar-burger.burger
                                    span
                                    span
                                    span
                            .navbar-menu
                                .navbar-end
                                    a.navbar-item.link(href='')
                                        | Home
                                    a.navbar-item.link(href='')
                                        | Test
                                    a.navbar-item.link(href='')
                                        | Test 1
                                    a.navbar-item.link.sign-up-modal(href='')
                                        | Sign Up
                .hero-body
                    .container.has-text-centered
                        h2.header__title
                            | Welcome to ShutePal
                        a.button.is-warning.is-rounded.big-button Get service
            section.section
                .spinner
                    .spinner__triangle
                    .spinner__inner
            section.section.has-text-centered
                .container
                    h2.title The most popular sports in USA
                    .columns.kinds
                        .column.is-3.is-offset-1.kind
                            .sport-icon
                                span.icon.has-text-warning
                                    i.fas.fa-bicycle.fa-3x.circle
                            p.kind-title Cycling
                            p.kind-description
                                | Cycling, also called biking or bicycling, is the use of bicycles for transport,
                                | recreation, exercise or sport.
                                | People engaged in cycling are referred to as "cyclists", "bikers", or less commonly, as "bicyclists".
                        .column.is-3.is-offset-1.kind
                            .sport-icon
                                span.icon.has-text-warning.test
                                    i.fas.fa-futbol.fa-3x.circle
                            p.kind-title Football
                            p.kind-description
                                | Football is a family of team sports that involve, to varying degrees,
                                | kicking a ball to score a goal. Unqualified, the word football
                                | normally means the form of football that is the most popular
                                | where the word is used.
                        .column.is-3.is-offset-1.kind
                            .sport-icon
                                span.icon.has-text-warning
                                    i.fas.fa-quidditch.fa-3x.circle
                            p.kind-title Quidditch
                            p.kind-description
                                | Quidditch is a sport of two teams of seven players each mounted on broomsticks
                                | played on a hockey rink-sized pitch. It is based on a fictional game of the
                                | same name invented by author J. K. Rowling.
            section.cycle-service.hero.is-fullheight
                .hero-body.custom-cycle-body
                    .container
                        .columns
                            article.column
                                h2.title.has-text-warning.cycle-heading Our awesome and quality service for you
                                p.content.is-large.cycle-text
                                    | We are happy to invite you to multiple grounds where our consultants will help you
                                    | to find a propriate bicycle for you and your mates. Every tour will be memorable
                                    | for you and mates. Make your way to the happy moments without thinking about hard path to them!
                            .column.cyclist
                                img.bicylce(src='./assets/img/cycling.png', alt='Cyclist')
            section.section.has-text-centered.bikes-type
                .container
                    h2.title Type of bicycles
                    .columns
                        .column
                            .bike-title
                                | Road bike
                            img.image(src='./assets/img/bikes/first.png', alt='road bike')
                        .column
                            .bike-title
                                | BMX/Trick Bike
                            img.image(src='./assets/img/bikes/second.png', alt='trick bike')
                .arrows.is-hidden-mobile
                    .left-arrow
                        i.fas.fa-chevron-left.fa-3x
                    .right-arrow
                        i.fas.fa-chevron-right.fa-3x
            section.cycle-service
                .cycle-col
                    img.cycle-col__image(src='./assets/img/competition/logo.png', alt='Tour de france')
                .cycle-col
                    h3.cycle-col__title Tour de france
                    p.cycle-col__text
                        | The Tour de France is an annual men's multiple stage bicycle race
                        | primarily held in France, while also occasionally passing through
                        | nearby countries. Like the other Grand Tours (the Giro d'Italia and
                        | the Vuelta a Espana), it consists of 21 day-long stages over the course of 23 days.
                    p.cycle-col__text
                        | The race was first organized in 1903 to increase sales for the newspaper L'Auto
                        | and is currently run by the Amaury Sport Organisation. The race has been held
                        | annually since its first edition in 1903 except when it was stopped for the two
                        | World Wars.
                    p.cycle-col__text
                        | There are usually between 20 and 22 teams, with eight riders in each.
                        | All of the stages are timed to the finish; the riders' times are compounded
                        | with their previous stage times. The rider with the lowest cumulative
                        | finishing times is the leader of the race and wears the yellow jersey.
                    a.btn(href='#')
                        button.btn__item Read more
            section.sign
                .black Test text
                .sign__container.sign-up.active
                    span.sign__title
                        | Sign up
                    form.sign__form.form(action='', method='GET')
                        .form__item.field
                            label.field__name(for='sign__name') Name
                            input#sign__name.field__input.field__input--name(type='text')
                        .form__item.field
                            label.field__email(for='sign-in__email') Email
                            input#sign-in__email.field__input.field__input--email(type='email')
                        .form__item.field
                            label.field__name(for='sign-in__password') Password
                            input#sign-in__password.field__input.field__input--pswd(type='password')
                        .form__item.field
                            label.field__name(for='sign__reenter') Re-enter password
                            input#sign__reenter.field__input.field__input--repeated-pswd(type='password')
                        input.form__button(type='submit', value='Sign up')
                        span.toggler
                            | Already registered?
                            a.toggler__button(href='#') Sign in
                            |  right now!
                .sign__container.sign-in
                    span.sign__title
                        | Sign in
                    form.sign__form.form(action='', method='post')
                        .form__item.field
                            label.field__name(for='sign-up__email') Email
                            input#sign-up__email.field__input.field__input--email(type='email', required='')
                        .form__item.field
                            label.field__name(for='sign-up__password') Password
                            input#sign-up__password.field__input.field__input--pswd(type='password', required='')
                        input.form__button(type='submit', value='Sign in')
                        span.toggler
                            | Don't have an account? You can
                            a.toggler__button(href='#') Sign up!
            footer.custom-footer
                .footer-text
                    | 2019, Parashute jumping. All Rights Reserved
                .footer-icons
                    img.social-item(src='./assets/img/social/twitter.png', alt='Twitter')
                    img.social-item(src='./assets/img/social/facebook.png', alt='Twitter')
                    img.social-item(src='./assets/img/social/google-plus-logo.png', alt='Twitter')
                    img.social-item(src='./assets/img/social/instagram.png', alt='Twitter')
