h1 Content text
div.sign-up
    form(class="sign-up__form form" method="post")
        label(class="form__item field" for="name")
        span.field__name Name
        input(type="text" id="name" class="field__input")

